<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pairgoth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pairgoth Go Paring Engine">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/fonts/fork-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="header">
    <div id="logo">Pairgoth v0.1</div>
    <div id="menu">
      <button>New tournament</button>
      <button>Players</button>
      <button>Scales</button>
      <button>Pairing</button>
      <button>Results</button>
      <button>Standings</button>
    </div>
  </div>
  <div id="center">
#translate($page)
  </div>
  <div id="footer">
  </div>
  <script type="text/javascript" src="/js/formproxy.js"></script>
  <script type="text/javascript" src="/js/api.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>

