body {
  font-size : clamp(2rem, 10vw, 5rem);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-items: stretch;
  align-items: stretch;
}

#header {
  height: 1.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: stretch;
}

#center {
  max-width: clamp(800px, 80vw, 100vw);
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

#footer {
  height: 1.5em;
}
