@layer pairgoth {
  /* general rules */

  .steps .step:not(.active) {
    cursor: pointer;
  }
  .tab-content {
    display: none;
    &.active {
      display: block;
    }
  }

  /* information section */

  form {
    input, select, .edit {
      display: none;
    }
    &.edit {
      input:not(.hidden), select:not(.hidden), .edit:not(.hidden) {
        display: initial;
      }
      .info, #edit {
        display: none;
      }
    }
  }
  div.field:not(.hidden) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: 1px;
    background-color: #eeeeee;
    &.centered {
      align-items: center;
    }
  }
  .inline.fields {
    background-color: #eeeeee;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    .centered.field > label {
      margin-right: 0;
    }
  }

  /* registration section */

  #player {
    &.create {
      .edition {
        display: none;
      }
      #unregister {
        display: none;
      }
    }
    &.edit {
      .creation {
        display: none;
      }
    }
  }

  #player-form {
    &:not(.add) {
      #search-form, #search-result {
        display: none;
      }
    }
  }
  #search-form {
    position: relative;
    .toggle {
      cursor: pointer;
      input {
        display: none;
      }
      label {
        display: block;
        text-align: center;
        cursor: pointer;
      }
      .checkbox {
        width: 50px;
        height: 26px;
        border-radius: 18px;
        background-color: #F7D6A3;
        display: flex;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        .circle {
          background-color: #6B5E8A;
          transform: translateX(0px);
          border-radius: 50%;
          width: 20px;
          height: 20px;
          transition: 300ms;
        }
      }
      input:checked + .checkbox {
        background-color: rgb(218, 114, 80);
        .circle {
          transform: translateX(20px);
        }
      }
    }
  }
  #search-result {
    position: absolute;
    background-color: gray;
    z-index: 2;
    width:100%;
    top: 100%;
    padding: 1em;
    overflow-y: auto;
    &:empty {
      display: none;
    }
    .result-line {
      cursor: pointer;
      &:hover, &.highlighted {
        background-color: rgba(100,200,255,200);
      }
    }
  }

  #player.popup {
    min-width: 65vw;
  }
}
